.demoPage {
    display: block;
    margin-top: 40px;
    .developing{
        text-align: center;
        font-size: larger;
        font-weight: bolder;
    } 

    .back {
        font-size: larger;
        font-weight: bold;
        background: transparent;
        border: none;
        padding: 1em 1.5em;
        color: #315098;
        position: relative;
        transition: 0.5s ease;
        cursor: pointer;
    }

    .back::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #1e1e2b;
        transition: 0.5s ease;
    }

    .back:hover {
        color: #1e1e2b;
        transition-delay: 0.5s;
    }

    .back:hover::before {
        width: 100%;
    }

    .back::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: #1e1e2b;
        transition: 0.2s ease;
        z-index: -1;
    }

    .back:hover::after {
        height: 10%;
        transition-delay: 0.4s;
    }

    .demoContent{
        margin: 10px;
        justify-content: center;
    }

}