@import '../../App.scss';

.demo {
    display: block;
    // background-color: antiquewhite;

    .react-task {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(8, 100px);
        grid-gap: 8px;
        grid-template-rows: repeat(8, 100px);
        animation: fadeInUp 0.5s;

        .bento-title {
            grid-column: 1/8;
            grid-row: 1;
        }

        .one {
            grid-column: 1/4;
            grid-row: 2/3;
        }

        .two {
            grid-column: 5/8;
            grid-row: 2/3;
        }

        .three {
            grid-column: 1/4;
            grid-row: 4/5;
        }

        .four {
            grid-column: 5/8;
            grid-row: 4/5;
        }

        .five {
            grid-column: 1/4;
            grid-row: 6/7;
        }
    }
}

@media screen and (max-width:$middle-screen-width) {
    .demo {
        .react-task {
            justify-content: center;
            grid-template-columns: repeat(4, 100px);
            grid-template-rows: repeat(12, 100px);

            .bento-title {
                grid-column: 1/4;
                grid-row: 1;
            }

            .one {
                grid-column: 1/4;
                grid-row: 2/3;
            }

            .two {
                grid-column: 1/4;
                grid-row: 4/5;
            }

            .three {
                grid-column: 1/4;
                grid-row: 6/7;
            }

            .four {
                grid-column: 1/4;
                grid-row: 8/9;
            }

            .five {
                grid-column: 1/4;
                grid-row: 10/11;
            }
        }
    }
}

@media screen and (max-width:$small-screen-width) {
    .demo {
        .react-task {
            grid-template-columns: repeat(4, 80px);
            grid-template-rows: repeat(12, 80px);
            grid-gap: 1px;
        }
    }
}


// @media screen and (max-width: $phone-screen-width) {
//     .demo {
//         .react-task {
//             grid-gap: 1px;
//         }
//     }
// }