.base{
    display: flex;
    .container {
        margin-left: calc(40%);
        display: block;
    }
}

@media screen and (max-width: 1230px) {
    .base{
        justify-content: center;

        .container{
            margin: 0;
            margin-left: 15px;
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: 850px) {
    .base{
        justify-content: center;
        .container{
            width: 100%;
            margin-right: 15px;
        }
    }
}