@import '../../App.scss';
.base{
    display: flex;
    .container {
        margin-left: calc(40%);
        display: block;
    }
}

@media screen and (max-width: $big-screen-width) and (min-width: $middle-screen-width){//Haruko
    .base{
        justify-content: center;

        .container{
            margin: 0;
            margin-left: 15px;
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: $middle-screen-width) and (min-width: $phone-screen-width){//H
    .base{
        justify-content: center;
        width: 100%;
        
        .container{
            margin: 0;
            padding-top: 100px;
            overflow: hidden;
        }
    }
}

 @media screen and (max-width: $phone-screen-width) {//phone size
    .base{
        justify-content: center;
        
        .container{
            margin: 0;
            padding-top: 100px;
            overflow: hidden;
        }
    }
 }