.base{
    display: flex;
    .container {
        margin-left: calc(40%);
        display: block;
    }
}

@media screen and (max-width: 1230px) {
    .base{
        display: block;
    }
    .container{
        margin: 0;
    }
}