@import './root_style.scss';

.click-horizontal-rectangle {
    margin: var(--margin);
    width: var(--large-width);
    height: var(--small-heigh);
    background: #9fb0cf;
    border-radius: var(--radius);
    border-style: none;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 10px #665048;

    img {
        object-fit: cover;
        background-color: #665048;
        width: 50%;
    }

    .task-description {
        display: block;
        margin: 10px;
        width: 50%;

        p {
            font-weight: bold;
            font-size: larger;
            text-align: center;
            text-align: center;
        }
        .description{
            text-align: left;
            width: auto;
        }
    }
    
    &:hover {
        img{
            opacity: 60%;
        }
        box-shadow: 2px 2px 10px gray;
    }
}