@import './root_style.scss';
@import '../../App.scss';

.click-horizontal-rectangle {
    margin: var(--margin);
    width: var(--large-width);
    height: var(--small-heigh);
    border-radius: var(--radius);
    border-style: none;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;

    img {
        object-fit: cover;
        border-style: solid;
        border-color: darkgrey;
        margin: 10px;
        border-radius: var(--radius);
        width: calc(var(--large-width)/2);
    }

    .task-description {
        display: block;
        text-align: left;
        // margin: 10px;

        p {
            font-weight: bold;
            font-size: larger;
        }
        .description{
            font-size: medium;
        }
    }
    
    &:hover {
        img{
            opacity: 60%;
        }
        box-shadow: 2px 2px 10px gray;
    }
}

@media screen and (max-width: $small-screen-width){
    .click-horizontal-rectangle{
        .task-description {
            p {
                font-size: medium;
            }
            .description{
                font-size: small;
            }
        }
    }
}