@import '../../App.scss';

.animate__fadeInUp {
    overflow: hidden;
}

.information-area {
    display: none;
}

.my-first-container {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 8px;
    grid-template-rows: repeat(8, 100px);
    animation: fadeInUp 0.5s;

    .bento-title {
        grid-column: 1/8;
        grid-row: 1;
    }

    .one {
        grid-column: 1/4;
        grid-row: 2;
    }

    .two {
        grid-column: 5/8;
        grid-row: 2;
    }

    .three {
        grid-column: 1/4;
        grid-row: 3/6;
    }

    .four {
        grid-column: 5/6;
        grid-row: 3/4;

        .squar {
            background-color: #e8e9d5;
        }
    }

    .five {
        grid-column: 7/8;
        grid-row: 3/4;

        .squar {
            background-color: #9fb0cf;
        }
    }

    .six {
        grid-column: 5/6;
        grid-row: 5/6;

        .squar {
            background-color: #d3dfde;
        }
    }

    .seven {
        grid-column: 1/4;
        grid-row: 7/8;

        .location {
            border: 0;
            width: 600px;
            height: 450px;
        }
    }

    .eight {
        grid-column: 5/6;
        grid-row: 7/8;

        .squar {
            background-color: #e5e1bb;
        }
    }

    .nine {
        grid-column: 7/8;
        grid-row: 5/8;

        .vertical-rectangle {
            background-color: #b2bd8c;
        }
    }
}

.my-second-container {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 8px;
    grid-template-rows: repeat(13, 100px);
    // animation: fadeInUp 0.5s;

    .bento-title {
        grid-column: 1/8;
        grid-row: 1;
    }

    .two {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .three {
        grid-column: 3/4;
        grid-row: 2/5;
    }

    .four {
        grid-column: 5/8;
        grid-row: 2/5;
    }

    .five {
        grid-column: 1/2;
        grid-row: 4/7;
    }

    .six {
        grid-column: 3/6; //列
        grid-row: 6/9;
    }

    .seven {
        grid-column: 7/8;
        grid-row: 6/7;
    }

    .eight {
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .nine {
        grid-column: 1/4;
        grid-row: 10/11;
    }

    .ten {
        grid-column: 5/6;
        grid-row: 10/11;
    }

    .eleven {
        grid-column: 7/8;
        grid-row: 8/11;
    }

    .twelve {
        grid-column: 1/2;
        grid-row: 12/13;
    }

    .thirteen {
        grid-column: 3/6;
        grid-row: 12/13;
    }

    .fourteen {
        grid-column: 7/8;
        grid-row: 12/13;
    }
}

@media screen and (max-width:$middle-screen-width) {

    .information-area {
        margin-top: 20px;
        display: flex;
        // background-color: #F1E0CE;
        margin-bottom: 130px;
        height: 320px;
        width: 100%;
        position: relative;
        justify-content: center;

        .dot{
            position: absolute;
            width: 700px;
            height: 700px;
            top: -300px;
            left: -200px;
            background-color: #9fb0cf;
            border-radius: 50%; /* 使元素变成圆形 */
            overflow: hidden; /* 隐藏超出边界的内容 */
            filter: blur(80px); /* 应用模糊效果 */
            z-index: -1;
        }

        p{
            font-size: large;
            font-weight: normal;
            border-radius: var(--radius);
            width: 90%;
            color: #665048;
            animation: fadeInUp 0.9s;
            // backdrop-filter: blur(10px);
            // border: 2px solid rgba(255, 255, 255, 0.5);

            span{
                padding: 5px;
                color: #f2ca48;
                text-shadow: 1px 2px 1px #4c484f;
                // background-color: #A2C5C9;
                font-weight: bolder;
                font-size: larger;
            }
        }
        img{
            position: absolute;
            bottom: -120px;
            right: 0;
            animation: fadeInUp 0.9s;
        }
    }

    .my-first-container {
        justify-content: center;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(14, 100px);

        .bento-title {
            display: none;
        }

        .one {
            grid-column: 1/4;
            grid-row: 1;
        }

        .two {
            grid-column: 1/4;
            grid-row: 2;
        }

        .three {
            grid-column: 1/4;
            grid-row: 3/6;
        }

        .four {
            grid-column: 1/2;
            grid-row: 7/8;
        }

        .five {
            grid-column: 3/4;
            grid-row: 7/8;
        }

        .six {
            grid-column: 1/2;
            grid-row: 9/10;
        }

        .seven {
            //location
            grid-column: 1/4;
            grid-row: 13/14;

            .location {
                border: 0;
                width: 600px;
                height: 450px;
            }
        }

        .eight {
            grid-column: 1/2;
            grid-row: 11/12;
        }

        .nine {
            grid-column: 3/4;
            grid-row: 9/13;
        }
    }

    .my-second-container {
        justify-content: center;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(25, 100px);

        .bento-title {
            //bento title
            grid-column: 1/4;
            grid-row: 1;
        }

        .two {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .three {
            grid-column: 3/4;
            grid-row: 2/5;
        }

        .four {
            grid-column: 1/4;
            grid-row: 8/11;
        }

        .five {
            grid-column: 1/2;
            grid-row: 4/7;
        }

        .six {
            //he
            grid-column: 1/4; //列
            grid-row: 16/19;
        }

        .seven {
            //a line
            grid-column: 3/4;
            grid-row: 14/15;
        }

        .eight {
            //nana
            grid-column: 3/4;
            grid-row: 6/7;
        }

        .nine {
            //hub
            grid-column: 1/4;
            grid-row: 12/13;
        }

        .ten {
            //street
            grid-column: 3/4;
            grid-row: 24/25;
        }

        .eleven {
            //sea
            grid-column: 1/2;
            grid-row: 22/25;
        }

        .twelve {
            //snow
            grid-column: 1/2;
            grid-row: 14/15;
        }

        .thirteen {
            //tree
            grid-column: 1/4;
            grid-row: 20/21;
        }

        .fourteen {
            //fish
            grid-column: 3/4;
            grid-row: 22/23;
        }
    }
}

@media screen and (max-width: $phone-screen-width) {
    .information-area{
        margin-top: 20px;
        .dot{
            width: 600px;
            height: 600px;
        }
        img{
            width: 250px;
            height: auto;
        }
    }

    .my-first-container {
        grid-gap: 1px;
    }

    .my-second-container{
        grid-gap: 1px;
    }
}

@media screen and (max-width:$small-screen-width) {
    .information-area{
        margin-top: 20px;
        margin-bottom: 0;
        p{
            font-size: small;
        }
        img{
            width: 200px;
            height: auto;
            bottom: 0;
        }
    }
    .my-first-container {
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(14, 80px);
        grid-gap: 1px;
    }

    .my-second-container{
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(25, 80px);
        grid-gap: 1px;
    }
}