@import '../../App.scss';

.animate__fadeInUp {
    overflow: hidden;
}

.my-first-container {
    width: 50%;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 8px;
    grid-template-rows: repeat(8, 100px);
    animation: fadeInUp 0.5s;

    .one {
        grid-column: 1/4;
        grid-row: 2;
    }

    .two {
        grid-column: 5/8;
        grid-row: 2;
    }

    .three {
        grid-column: 1/4;
        grid-row: 3/6;
    }

    .four {
        grid-column: 5/6;
        grid-row: 3/4;

        .squar {
            background-color: #e8e9d5;
        }
    }

    .five {
        grid-column: 7/8;
        grid-row: 3/4;

        .squar {
            background-color: #9fb0cf;
        }
    }

    .six {
        grid-column: 5/6;
        grid-row: 5/6;

        .squar {
            background-color: #d3dfde;
        }
    }

    .seven {
        grid-column: 1/4;
        grid-row: 7/8;

        .location {
            border: 0;
            width: 600px;
            height: 450px;
        }
    }

    .eight {
        grid-column: 5/6;
        grid-row: 7/8;

        .squar {
            background-color: #e5e1bb;
        }
    }

    .nine {
        grid-column: 7/8;
        grid-row: 5/8;

        .pic-vertical-rectangle {
            background-color: #b2bd8c;
        }
    }
}

.my-second-container {
    width: 50%;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 8px;
    grid-template-rows: repeat(14, 100px);
    // animation: fadeInUp 0.5s;

    .one {
        grid-column: 1/8;
        grid-row: 1;
    }

    .two {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .three {
        grid-column: 3/4;
        grid-row: 2/5;
    }

    .four {
        grid-column: 5/8;
        grid-row: 2/5;
    }

    .five {
        grid-column: 1/2;
        grid-row: 4/7;
    }

    .six {
        grid-column: 3/6; //列
        grid-row: 6/9;
    }

    .seven {
        grid-column: 7/8;
        grid-row: 6/7;
    }

    .eight {
        grid-column: 1/2;
        grid-row: 8/9;
    }

    .nine {
        grid-column: 1/4;
        grid-row: 10/11;
    }

    .ten {
        grid-column: 5/6;
        grid-row: 10/11;
    }

    .eleven {
        grid-column: 7/8;
        grid-row: 8/11;
    }

    .twelve {
        grid-column: 1/2/6;
        grid-row: 12/13;
    }

    .thirteen {
        grid-column: 3/6;
        grid-row: 12/13;
    }

    .fourteen {
        grid-column: 7/8;
        grid-row: 12/13;
    }
}

@media screen and (max-width:$middle-screen-width) {
    .my-first-container {
        grid-template-columns: repeat(4, 100px);
        grid-gap: 8px;
        grid-template-rows: repeat(16, 100px);

        .one {
            grid-column: 1/4;
            grid-row: 2;
        }

        .two {
            grid-column: 5/8;
            grid-row: 2;
        }

        .three {
            grid-column: 1/4;
            grid-row: 3/6;
        }

        .four {
            grid-column: 5/6;
            grid-row: 3/4;

            .squar {
                background-color: #e8e9d5;
            }
        }

        .five {
            grid-column: 7/8;
            grid-row: 3/4;

            .squar {
                background-color: #9fb0cf;
            }
        }

        .six {
            grid-column: 5/6;
            grid-row: 5/6;

            .squar {
                background-color: #d3dfde;
            }
        }

        .seven {
            grid-column: 1/4;
            grid-row: 7/8;

            .location {
                border: 0;
                width: 600px;
                height: 450px;
            }
        }

        .eight {
            grid-column: 5/6;
            grid-row: 7/8;

            .squar {
                background-color: #e5e1bb;
            }
        }

        .nine {
            grid-column: 7/8;
            grid-row: 5/8;

            .pic-vertical-rectangle {
                background-color: #b2bd8c;
            }
        }
    }

    .my-second-container {
        grid-template-columns: repeat(4, 100px);
        grid-gap: 8px;
        grid-template-rows: repeat(16, 100px);
    }

}