@import '../../App.scss';
:root {
    --link-height: 70px;
    --large-heigh: 400px;
    --large-width: 400px;
    --small-heigh: 180px;
    --small-width: 180px;
    --margin: 5px;
    --radius: 28px;
    --shadow: 3px 5px 10px lightgray;
}

.bento-title {
    padding: 30px;
    width: 100%;
    font-weight: bold;
    font-size: large;
    color: black;
    text-align: left;
    padding-left: 20px;
}

.link {
    margin: var(--margin);
    width: var(--large-width);
    height: var(--link-height);
    background: #dfc0c2;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 2px 3px 0 0 #cb98a1;
    overflow: hidden;

    img {
        margin: 10px 25px;
        width: 50px;
        height: 50px;
        opacity: 750%;
    }

    a {
        margin: 20px 0px 15px 0px;
        font-size: larger;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        position: absolute;
        // width: 100%;
        color: #2C2C2C;
        border-radius: 5px;
    }

    &:hover {
        background-color: #ebcda7;
        box-shadow: 1px 1px 0 0.1px white;
    }
}

.picture {
    margin: var(--margin);
    width: var(--large-width);
    height: var(--large-heigh);
    // color: #565656;
    border-radius: var(--radius);
    // border-style: solid;
    overflow: hidden;
    box-shadow: var(--shadow);

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.squar {
    margin: var(--margin);
    width: var(--small-width);
    height: var(--small-heigh);
    border-radius: var(--radius);
    // border-style: solid;
    overflow: hidden;
    box-shadow: var(--shadow);
    display: block;
    position: relative;

    .img-background-color {
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 38px;
        border-radius: var(--radius);
        background-color: #f9f4ed;
        opacity: 50%;
    }

    img {
        position: relative;
        z-index: 2;
        object-fit: cover;
        height: auto;
        width: 100%;
    }

    p {
        position: relative;
        z-index: 1;
        color: #565656;
        height: 40px;
        font-weight: bold;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;
        text-shadow: 2px 1px 0 #d3dfde;
    }
}

.pic-horizontal-rectangle {
    margin: var(--margin);
    width: var(--large-width);
    height: var(--small-heigh);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    overflow: hidden;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.pic-vertical-rectangle {
    margin: var(--margin);
    width: var(--small-width);
    height: var(--large-heigh);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    overflow: hidden;
    display: block;
    text-align: center;
    position: relative;

    .img-background-color {
        position: absolute;
        z-index: 0;
        top: 5px;
        left: 5px;
        right: 5px;
        height: 140px;
        border-radius: var(--radius);
        background-color: #f9f4ed;
        opacity: 50%;
    }

    img {
        position: relative;
        height: auto;
        width: 100%;
        z-index: 1;
    }

    p {
        z-index: 1;
        position: relative;
        border-radius: var(--radius);
        color: #565656;
        font-weight: bold;
        text-align: center;
        margin-top: 25px;
        text-shadow: 2px 1px 0 #d3dfde;
    }
}

.click-horizontal-rectangle {
    margin: var(--margin);
    width: var(--large-width);
    height: var(--small-heigh);
    background: #4646dd;
    border-radius: var(--radius);
    border-color: #F2F2F2;
    border-style: solid;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 0 0 0 #d8d8d8;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &:hover {
        border-color: #F2F2F2;
        background-color: #F3F8FF;
        box-shadow: inset 0 0 0 0.1px white;
    }
}

@media screen and (max-width:$phone-screen-width) {
    :root{
        --large-heigh: 380px;
        --large-width: 380px;
        --small-heigh: 180px;
        --small-width: 180px;
    }
    
}

@media screen and (max-width:$small-screen-width) {
    :root{
        --large-heigh: 300px;
        --large-width: 300px;
        --small-heigh: 130px;
        --small-width: 130px;
    }
}