.contact {
    // margin-left: calc(40%);
    // width: 75%;
    display: block;
    overflow: hidden;
    // filter: grayscale(20%)blur(1px);
    // transition: filter 0.5s;

    .contact-description {
        text-align: center;
        width: 95%;
        padding-top: 40px;
        justify-content: center;
        font-size: 38px;
        color: #1D2939;

        span {
            color: #c64e2f;
            font-weight: bold;
        }
    }

    .contact-block {
        width: 430px;
        background-color: #e8c8be;
        margin: 10px auto 40px auto;
        display: block;
        text-align: center;
        padding: 30px 50px;
        border-radius: 30px;
        box-shadow: 3px 5px 0 0 #d19d87;
        animation: fadeInUp 0.5s;

        .title {
            margin-left: 10px;
            margin-top: 30px;
            text-align: left;
            font-size: large;
            color: #45496a;
        }

        .name-error{
            color: #991b27;
        }
        .email-error{
            color: #991b27;
        }
        .message-error{
            color: #991b27;
        }

        input {
            caret-color: #bf5c45;
            font-size: 20px;
            padding: 10px;
            padding-left: 20px;
            width: 400px;
            height: 30px;
            border: 0px solid #ccc;
            border-radius: 20px;

            &:focus {
                outline: none;
                border: 2px solid #709ED0;
            }
        }

        .error {
            display: none;
            color: #991b27;
            opacity: 0.8;
        }

        textarea {
            resize: none;
            caret-color: #bf5c45;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            width: 400px;
            height: 250px;
            border: 0px;
            border-radius: 20px;
            overflow-wrap: break-word;

            ::-webkit-scrollbar-thumb {
                background-color: red;
            }

            &:focus {
                outline: none;
                border: 2px solid #709ED0;
            }
        }

        .submit-button {
            color: white;
            font-weight: bold;
            font-size: large;
            margin-top: 20px;
            width: 200px;
            height: 50px;
            text-align: center;
            border-radius: 25px;
            border: none;
            background-color: #deb0bd;
            box-shadow: 2px 3px 0 0 #cb98a1;

            &:hover {
                color: gray;
                opacity: 0.9;
                box-shadow: 1px 2px 0 0 #ead8b1;
            }
        }
    }
}
:root{
    --failed-color: #bf5c45;
    --successed-color: #B6C796;
    --failed-shadow: #d19d87;
    --successed-shadow: #45958E;
}
.pop-up-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 300px;
    height: 300px;
    background-color: var(--failed-color);
    // background-color: var(--successed-color);
    text-align: center;
    padding: 30px 40px;
    border-radius: 30px;
    box-shadow: 3px 5px 0 0 var(--failed-shadow);
    // box-shadow: 2px 4px 0 0 var(--successed-shadow);

    img{
        background-color: var(--failed-color);
        // background-color: var(--successed-color);
        border-radius: 50%;
        width: 200px;
        height: 200px;
        position:relative;
        margin-top: -100px;
    }
    p{
        margin-top: 0;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
    button{
        color: white;
        font-weight: bold;
        font-size: large;
        width: 200px;
        height: 50px;
        text-align: center;
        border-radius: 25px;
        border: none;
        margin-top: 30px;
        background-color: #F7CB9A;
        box-shadow: 2px 3px 0 0 #949883;

        &:hover {
            color: gray;
            opacity: 0.9;
            box-shadow: 1px 2px 0 0 darkgrey;
        }
    }
}