@import '../../App.scss';

.wait-popup-window {
    display: block;
    justify-self: center;
    background-color: #9A7EAE;
    padding: 10px 50px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 400px;

    p {
        margin-top: -20px;
        color: #EBEDD4;
        font-weight: bold;
        font-size: large;

        
        span {
            text-decoration: underline;
            color: #D3BA83;
            font-size: medium;
            font-weight: normal;
            font-style: italic;
        }
    }

    img {
        width: 100px;
    }
}

@media screen and (max-width:$middle-screen-width) and (min-width:$phone-screen-width) {
    .wait-popup-window {
        padding: 20px;
        p {
            margin-top: -15px;
            font-size: medium;
            span {
                font-size: small;
            }
        }
        img{
            width: 100px;
        }
    }
}

@media screen and (max-width: $phone-screen-width) {
    .wait-popup-window {
        padding: 10px;
        p {
            margin-top: -10px;
            font-size: smaller;
            span {
                font-size: smaller;
            }
        }
        img{
            width: 80px;
        }
    }

}