@import '../../App.scss';

.animate__fadeInUp {
    overflow: hidden;
}

.cv {
    // margin-left: calc(37%);
    // width: 95%;
    display: block;
    position: relative;

    .line {
        position: absolute;
        top: 100px;
        left: 100px;
        // z-index: -1;
    }

    .seperater {
        width: 100%;
        font-size: 27px;
        text-align: center;
        font-weight: bolder;
        padding-top: 20px;
        padding-bottom: 0;
        color: orange;
    }

    .download-cv {
        font-size: 30px;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 20px;

        button {
            height: 50px;
            width: 280px;
            font-size: larger;
            font-weight: bolder;
            border-radius: 20px;
            border-style: none;
            background-color: #efd96f;
            font-size: medium;
            box-shadow: 3px 2px 0 0 #d8d8d8;

            &:hover {
                background-color: #589da4;
                color: white;
                box-shadow: 1px 1px 0 0 #c0b5b9;
            }
        }
    }

    .name-explanation {
        cursor: pointer;
        text-decoration: underline;
        font-weight: bolder;
        position: relative;
        margin-right: 18px;

        &:hover {
            color: darkblue;
        }
    }

    .name-explanation::after{
        content: '';
        height: 16px;
        width: 16px;
        position: absolute;
        bottom: 1px;
        background-image: url('../../assets/link.svg');
        background-size: cover; 
    }

    .ocha {
        // background-color: rosybrown;
        display: flex;
        animation: fadeInUp 0.8s;

        .school-name {
            position: sticky;
            top: 100px;
            width: 250px;
            height: 100px;
            display: flex;

            p {
                font-size: larger;
                font-style: normal;
                text-align: left;
                // width: 200px;
                font-weight: bold;

                span {
                    line-height: 20px;
                    font-size: medium;
                    font-weight: lighter;
                    color: gray;
                }
            }

            .spot {
                width: 40px;
                height: 40px;
                margin: 20px 10px 0px auto;
                // bottom: 100px;
            }
        }

        .development-language {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 20px;
            margin-right: 20px;
            width: 550px;
            display: flex;
            height: auto;
            flex-wrap: wrap;

            li {
                margin-right: 20px;
                margin-bottom: 20px;
                padding: 10px 2px;
                width: 140px;
                border-radius: 18px;
                color: white;
                text-align: center;
                white-space: nowrap;
                font-size: large;
                list-style-type: none;

                &:hover {
                    box-shadow: 2px 3px 0 0 #c0b5b9;
                }
            }

            .language-label {
                background-color: #8ca8be;
            }

            .tools {
                background-color: #D7BCBB;
            }

            .apps {
                background-color: #E7CD97;
            }

            .database {
                background-color: #6E8F8D;
                ;
            }

            .platform {
                background-color: #709ED0;
            }

            .others {
                background-color: #9E927E;
                ;
            }
        }

        .ul-normal {
            line-height: 27px;
            font-size: medium;
            font-style: italic;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 20px;
            margin-right: 20px;
            width: 550px;
            color: darkgray;

            li {
                margin-right:0;
                margin-bottom: 20px;
                transition: padding 0.5s;

                .skill{
                    color:#589da4
                }

                .language{
                    color: orange;
                    font-weight: bold;
                }

                &:hover {
                    color: black;
                    font-weight: bold;
                    font-size: larger;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (min-width:$middle-screen-width) and (max-width: $big-screen-width) {//haruko
    .ocha {
        margin-left: 50px;
    }

}

@media screen and (max-width:$middle-screen-width) and (min-width:$phone-screen-width){//H
    .cv {
        .ocha {
            display: block;

            .school-name {
                position:static;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 50px;

                p {
                    font-size: larger;
                    font-style: normal;
                    text-align: center;
                    font-weight: bold;
                    span{
                        display: none;
                    }
                }

                .spot {
                    display: none;
                }
            }

            .development-language {
                justify-content: center;
                li{
                    justify-content: center;
                }
            }

            .ul-normal {
                justify-content: center;
                li{
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: $phone-screen-width){
    .download-cv{
        span{
            display: none;
        }
    }
    .cv{
        .ocha{
            .school-name {
                position:static;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 50px;
    
                p {
                    font-size: larger;
                    font-style: normal;
                    text-align: center;
                    font-weight: bold;
                    span{
                        display: none;
                    }
                }
    
                .spot {
                    display: none;
                }
            }
            display: block;
            .development-language{
                width: 100%;
                li{
                    margin: 8px 3px;
                    padding: 5px 1px;
                }
            }
            .ul-normal{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:$small-screen-width) {
    .cv{
        .seperater{
            font-size: medium;
            margin: 0;
        }
        .ocha{
            font-size: small;
            .development-language{
                width: 90%;
                li{
                    margin: 2px 1px;
                    padding:2px;
                    width: 80px;
                    font-size: small;
                }
            }
            .ul-normal{
                font-size: small;
            }
        }
    }
    
}